<div class="container mt-4">

  <div class="d-flex justify-content-between mb-3">

    <h2>Food Orders</h2>

    <a
      routerLink="/orders/add"
      class="btn btn-primary">
      + New Order
    </a>

  </div>

  <!-- Status Filter -->
  <div class="mb-3">

    <label class="me-2">
      Filter by Status:
    </label>

    <select
      class="form-select"
      style="width: 220px; display: inline-block;"
      [(ngModel)]="selectedStatus"
      (change)="filterOrders()">

      <option value="ALL">
        All Orders
      </option>

      <option
        *ngFor="let status of statuses"
        [value]="status">

        {{ status }}

      </option>

    </select>

  </div>

  <!-- Orders Table -->

  <table class="table table-striped">

    <thead>

      <tr>
        <th>Order ID</th>
        <th>Student</th>
        <th>Canteen</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Date</th>
      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let order of filteredOrders">

        <td>{{ order.id }}</td>

        <td>{{ order.student }}</td>

        <td>{{ order.canteen }}</td>

        <td>{{ order.totalAmount }}</td>

        <td>

          <select
            class="form-select"
            [value]="order.status"
            (change)="updateStatus(
              order.id!,
              $any($event.target).value
            )">

            <option
              *ngFor="let status of statuses"
              [value]="status">

              {{ status }}

            </option>

          </select>

        </td>

       <td>{{ order.orderedAt }}</td>

      </tr>

      <tr *ngIf="filteredOrders.length === 0">

        <td colspan="6" class="text-center">
          No orders found.
        </td>

      </tr>

    </tbody>

  </table>

</div>